# This env variable is mandatory 
# Questa variabile è obbligatoria
TMDB_KEY= "11433b7f2a666a61c872061c06b27a92"
# Those env variable are not mandatory
# Queste variabili non sono obbligatoria
PROXY = ["PROXY1","PROXY2"]
FORWARDPROXY = "YOURFORWARDPROXY/"
